/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); 
  src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); 
}
  
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg'); 
}

/* Variables */
:root {
  --white:#ffffff;
  --black:#000000;
  --blue: #81B3D2;
  --gray: #eeeeee;
  --white-lighten: #f2f2f2;
  --black-lighten: #333333;
  --brown: #766357;
  --gray-darken: #a9a9a9;
  --darken-gray: #666666;
  --black-white-brown: #888888;

  --special-blue: #3C87B5;
  --special-brown: #52453D;
}

/* Global */
body {
  min-width: 1280px;
  margin: 0;
  padding: 0 40px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover,
a:focus {
  color: var(--blue);
}

/* Header */
.main-header {
  background-color: var(--white);
}

.nav-list {
  list-style: none;
  text-decoration: none;
  line-height: 26px;
}

.nav-item-active {
  color: var(--blue);
}

/* Main */
.hotels-found {
  font-size: 21px;
  line-height: 26px;
}

.hotels-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-by-price-active {
  color: var(--blue);
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
}

.hotels-name,
.hotels-price {
  font-weight: 400;
  color: var(--black-lighten);
}

.hotels-rating {
  font-weight: 400;
  color: var(--darken-gray);
  background-color: var(--white-lighten);
}

.button {
  color: var(--white);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--blue);
}

.button-blue {
  background-color: var(--blue);
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--special-blue);
}

.button-brown {
  background-color: var(--brown);
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--special-brown);
}

/* Footer */
.contacts-text {
  font-size: 21px;
  line-height: 26px;
}

.social-list {
  list-style: none;
}

.developer-title {
  line-height: 26px;
}