/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); 
  src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); 
}
  
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg'); 
}

/* Variables */
:root {
  --white:#ffffff;
  --black:#000000;
  --black-white-brown: #888888;
  --black-lighten: #333333;
  --blue: #81B3D2;
  --gray: #eeeeee;
  --white-opacity: rgba(255, 255, 255, 0.9);
  --white-lighten: #f2f2f2;
  --brown: #766357;
  --bnt-brown-hover: #604E43;
  --btn-brown-active: #503E33;
  --input-gray-darken: #a9a9a9;  
  --input-gray-hover: #EBEBEB;
  --icon-gray-hover: #A9A9A9;
  --btn-blue-hover: #669EC0;
  --btn-blue-active: #5496BD;
  --logo-brown: #BDBBBC;
  --icon-gray: #CACACA;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--white-lighten);
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover,
a:focus {
  color: var(--blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */
.main-header {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.main-nav {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  flex: 0 0 20%;
  padding: 2px 0;
}

.nav-item:active {
  color: var(--black);
  opacity: .3;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2) {
  text-align: left;
}

.nav-item:nth-child(3),
.nav-item:nth-child(4) {
  text-align: right;
}

.nav-item:nth-child(1) {
  margin-left: 72px;
}

.nav-item:nth-child(2) {
  margin-left: -12px;
}

.nav-item:nth-child(3) {
  margin-left: 120px;
}

.nav-item:nth-child(4) {
  margin-left: -12px;
}

.nav-item-active {
  color:var(--brown);
}

/* Main */
.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

/* Form */
.hotels-form {
  margin-bottom: 29px;
}

.form {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 217px;
  background-image: url(../img/form-image.png);
  background-repeat: no-repeat;
  color: var(--white);
}

/* Checkbox */
.check {
  padding-left: 30px;
  font-weight: 400;
}

.form-1,
.form-2,
.form-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  padding-bottom: 25px;
}

.form-1 {
  margin-left: 74px;
}

.form-2 {
  margin-left: 15px;
}

.form-1,
.form-2 {
  flex-grow: 1;
}

.form-3 {
  flex-grow: 2;
  align-items: flex-end;
  margin-right: 73px;
}

.form-title {
  font-size: 16px;
}

.form-title {
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-input:checked + .check-box {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.check-box {
  position: absolute;
  margin-left: -30px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  font-weight: 400;
  border: 2px solid var(--white);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: var(--white);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--white);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid var(--white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.5,1.5);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-form {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.button-form:hover {
  color: var(--black);
  background: var(--white);
}


/* Hotel sort */
.hotels-sort {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  column-gap: 45px;
  margin-bottom: 31px;
}

.hotels-found {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-left: 70px;
}

.sort-list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-self: center;
  margin: 0;
  padding: 0;
  column-gap: 33px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.icon-sort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  justify-self: flex-end;
  align-self: center;
  margin: 0;
  padding: 0;
}

.icon-sort:last-child {
  margin-right: 85px;
}

.icon-sort .active path {
 fill: var(--blue);
}

.icon-sort path:hover {
  fill: var(--black);
}

.icon-sort path:active {
  fill: var(--blue);
}

.icon-sort path {
  fill: var(--icon-gray);
}


.sort-by-price::after,
.sort-by-type::after,
.sort-by-rating::after {
  content: '';
  display: block;
  border-bottom: 1px dotted var(--blue);
  color: var(--black);
  opacity: .3;
}

.sort-by-price::after:hover,
.sort-by-type::after:hover,
.sort-by-rating::after:hover {
  content: '';
  display: block;
  border-bottom: 1px dotted var(--blue);
  color: var(--blue);
  opacity: 1;
}

.sort-by-price:active,
.sort-by-type:active,
.sort-by-rating:active {
  border: none;
  color: var(--black);
  opacity: 1;
}

.sort-by-type,
.sort-by-rating {
  opacity: 0.3;
}

.sort-by-price-active {
  color: var(--blue);
} 

.hotels-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-item {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  border-top: 1px solid var(--special-gray);
  padding: 30px 0;
}

.hotels-item:last-child {
  border-bottom: 1px solid var(--special-gray);
}

.description {
  flex-grow: 1;
  text-align: start;
}

.hotels-name {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.hotels-name:hover {
  color: var(--blue);
}

.hotels-name:active {
  color: var(--black);
  opacity: .3;
}

.hotels-image {
  padding-left: 70px;
  margin-right: 30px;
}

.hotels-info {
  margin-bottom: 19px;
}

.hotels-type {
  margin-right: 35px;
}

.hotels-type,
.hotels-price {
  font-weight: 400;
  color: var(--black-lighten);
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  align-self: flex-end;
  margin:0;
  padding: 0;
  margin-right: 85px;
}

.hotels-rating {
  font-weight: 400;
  margin: 0;
  margin-right: 85px;
  padding: 3px 12px 3px 15px;
  color: var(--darken-gray);
  background-color: var(--white-lighten);
  align-self: flex-end;
}

.button {
  padding: 3px 16px 3px 17px;
  text-transform: uppercase;
  color: var(--white);
  border: none;
}

.button-blue {
  background-color: var(--blue);
}

.button-blue:hover {
  background-color: var(--btn-blue-hover);
}

.button-blue:active {.

  background-color: var(--btn-blue-active);
}

.button-brown {
  background-color: var(--brown);
}

.button-brown:hover {
  background-color: var(--bnt-brown-hover);
}

.button-brown:active {
  background-color: var(--btn-brown-active);
}

/* Footer */
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: var(--white-opacity);
}

.contacts {
  margin-left: 30px;
}

.contacts-title {
  margin: 0;
  padding: 0; 
}

.contacts-text {
  font-size: 21px;
  line-height: 26px;
}

.social-title {
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.developer {
  display: flex;
}

.developer-title {
  margin: 0;
  margin-right: 8px;
  padding: 0;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
  align-self: center;
}

.footer-logo {
  margin-right: 50px;
}

.footer-logo:hover path {
  fill: var(--blue);
}

.footer-logo:active path {
  fill: var(--logo-brown);
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--blue);
}

.social-button:hover {
  background-color: var(--btn-blue-hover);
}

.social-button:active {
 background-color: var(--btn-blue-active);
}

.social-button:active path {
  opacity: .3;
}


