/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); 
  src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); 
}
  
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg'); 
}

/* Variables */
:root {
  --white:#ffffff;
  --black:#000000;
  --black-white-brown: #888888;
  --black-lighten: #333333;
  --blue: #81B3D2;
  --gray: #eeeeee;
  --white-opacity: rgba(255, 255, 255, 0.9);
  
/* Modal color */
  --white-lighten: #f2f2f2;
  --brown: #766357;
  --gray-darken: #a9a9a9;  
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--black-white-brown);
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover,
a:focus {
  color: var(--blue);
}

/* Grid */
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */
.main-header {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.main-nav {
  display: grid;
  grid-template-rows: 1fr;
}

.nav-list {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 56px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header-logo {
  position: absolute;
  transform: translate(-70px, -28px);
}

.nav-item:nth-child(1){
  order: 3;
}

.nav-item:nth-child(2){
  order: 1;
}

.nav-item:nth-child(3){
  order: 2;
}

.nav-item:nth-child(4){
  order: 4;
}

.nav-item:nth-child(5){
  order: 5;
}

/* Main */
.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.promo-image {
  margin-bottom: 42px;
}

.title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 16px;
}

.description-reasons-text {
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 51px;
  color: var(--black-lighten);
}

.row-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.row-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 58px;
}

.reasons-title {
  font-size: 21px;
}

.reasons-item {
  background-color: var(--gray);
  align-self: center;
  padding: 53px;
}

.reasons-number {
  font-weight: 400;
}

.reasons-text {
  font-weight: 400;
}

.reasons-blue {
  background-color: var(--blue);
  color: var(--white);
}

.reasons-white {
  background-color: var(--white);
  color: var(--black);
}

.recommendation {
  background-color: var(--white);
}

.hotel-search {
  margin-bottom: 78px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
}

.hotel-search-text {
  font-weight: 400;
  line-height: 24px;
  color: var(--black-lighten);
}

/* Footer */
.contacts-text {
  font-size: 21px;
  line-height: 26px;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white-opacity);
}

.contacts-title {
  margin: 0;
  padding: 0; 
}

.social-title {
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
