/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); 
  src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); 
}
  
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'), 
        url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg'); 
}

/* Variables */
:root {
  --white:#ffffff;
  --black:#000000;
  --black-white-brown: #888888;
  --black-lighten: #333333;
  --blue: #81B3D2;
  --gray: #eeeeee;
  --white-opacity: rgba(255, 255, 255, 0.9);
  
/* Modal color */
  --white-lighten: #f2f2f2;
  --brown: #766357;
  --gray-darken: #a9a9a9;  
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--black-white-brown);
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover,
a:focus {
  color: var(--blue);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */
.main-header {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.main-nav {
  display: grid;
  grid-template-rows: 1fr;
}

.nav-list {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 55px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header-logo {
  position: absolute;
  right: 530px;
  top: -15px;
}

.nav-item:nth-child(1){
  order: 3;
}

.nav-item:nth-child(2){
  order: 1;
}

.nav-item:nth-child(3){
  order: 2;
}

.nav-item:nth-child(4){
  order: 4;
}

.nav-item:nth-child(5){
  order: 5;
}

.nav-list a {
  display: block;
  padding: 15px 0;
}

/* Main */
.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.promo-image {
  margin-bottom: 42px;
}

.title {
  position: relative; 
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 21px;
  line-height: 26px;
}

.title::before {
  position: absolute;
  content:"";
  bottom: 185px;
  left: 370px;
  width: 457px;
  height: 351px;
  background-image: url(../img/welcome.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.title::after {
  position: absolute;
  content:"";
  bottom: 90px;
  left: 0;
  width: 1200px;
  height: 75px;
  background-image: url(../img/background-1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.description-reasons-text {
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 51px;
  color: var(--black-lighten);
}

.row-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.row-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 58px;
}

.reasons-title {
  position: relative;
  font-size: 21px;
  margin: 50px 0 25px 0;
}

.reasons-item {
  background-color: var(--gray);
  align-self: center;
}

.reasons-number {
  margin-bottom: 20px;
  font-weight: 400;
}

.reasons-text {
  margin-bottom: 50px;
  font-weight: 400;
}

.reasons-blue {
  background-color: var(--blue);
  color: var(--white);
}

.reasons-white {
  background-color: var(--white);
  color: var(--black);
}

.recommendation {
  background-color: var(--white);
}

.recommendation-title-1,
.recommendation-title-2,
.recommendation-title-3 {
  margin-top: 160px;
}

.recommendation-title-1::before {
  position: absolute;
  content: "";
  bottom: 50px;
  right: 163px;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px; 
}

.recommendation-title-2::before {
  position: absolute;
  content: "";
  bottom: 50px;
  right: 163px;
  background-image: url(../img/icon-burger.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px; 
}

.recommendation-title-3::before {
  position: absolute;
  content: "";
  bottom: 50px;
  right: 163px;
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px; 
}

.hotel-search {
  margin-bottom: 78px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
  margin:0;
  padding: 0;
  margin-bottom: 35px;
}

.hotel-search-text {
  margin-bottom: 132px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black-lighten);
}

/* Footer */
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  background-color: var(--white-opacity);
}

.contacts {
  margin-left: 30px;
}

.contacts-title {
  margin: 0;
  padding: 0; 
}

.contacts-text {
  font-size: 21px;
  line-height: 26px;
}

.social-title {
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.developer {
  display: flex;
}

.developer-title {
  margin: 0;
  margin-right: 8px;
  padding: 0;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
  align-self: center;
}

.footer-logo {
  margin-right: 50px;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--blue);
}

.social-button-tw {
  background-image: url(../img/twitter-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-yt {
  background-image: url(../img/youtube-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
} 

.social-button span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
